<template>
  <span
    v-bind="$attrs"
    :aria-hidden="!title"
    :aria-label="title"
    class="material-design-icon app-icon"
    role="img"
    @click="emit('click')"
  >
    <svg
      class="material-design-icon__svg"
      width="215"
      height="215"
      viewBox="0 0 215 215"
    >
      <rect
        width="193.68863"
        height="115.4306"
        x="11.155686"
        y="49.784702"
        ry="28.897705"
        stroke="#000"
        stroke-width="9.14822"
        fill="none"
        id="rect2"
        style="
          fill: #ffc131;
          fill-opacity: 1;
          stroke: #ffc131;
          stroke-width: 15.3424;
          stroke-miterlimit: 4;
          stroke-dasharray: none;
          stroke-opacity: 1;
        "
      />
      <path
        d="m 34,141.5 v -68 h 20 l 20,25 20,-25 h 20 v 68 H 94 v -39 l -20,25 -20,-25 v 39 z m 125,0 -30,-33 h 20 v -35 h 20 v 35 h 20 z"
        id="path4"
        style="fill: #000000; fill-opacity: 1"
      >
        <title v-if="title">{{ title }}</title>
      </path>
    </svg>
  </span>
</template>

<script lang="ts" setup>
const emit = defineEmits<(e: "click") => void>();

defineProps({
  title: {
    type: String,
  },
});
</script>