<template>
  <div class="titlebar">
    <app-icon class="app-icon"/>
    <open-icon class="open-button" title="Markdown öffnen" @click="openFile()"/>
    <div class="title"  data-tauri-drag-region>{{ title}}</div>
    <div class="titlbar-actions">
      <div class="titlebar-button" @click="appWindow.minimize()">
        <window-minimize-icon />
      </div>
      <div class="titlebar-button" @click="appWindow.toggleMaximize()">
        <window-maximize-icon v-if="canBeMaximized" />
        <window-restore v-else />
      </div>
      <div
        class="titlebar-button titlebar-button-close"
        @click="appWindow.close()"
      ><window-close-icon />
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { ref } from "vue";
import { appWindow } from "@tauri-apps/api/window";
import WindowCloseIcon from "vue-material-design-icons/WindowClose.vue";
import WindowMaximizeIcon from "vue-material-design-icons/WindowMaximize.vue";
import WindowRestore from "vue-material-design-icons/WindowRestore.vue";
import WindowMinimizeIcon from "vue-material-design-icons/WindowMinimize.vue";
import OpenIcon from "vue-material-design-icons/FolderOpen.vue";
import AppIcon from "./AppIcon.vue";
import {invoke} from "@tauri-apps/api";

const canBeMaximized = ref(false);

defineProps({
  title: {
    type: String,
    required: true,
    default: "Simple Markdown Viewer",
  },
});

appWindow.onResized(() => {
  appWindow.isMaximized().then((isMaximized) => {
    canBeMaximized.value = !isMaximized;
  });
});

const openFile = async () => {
  await invoke("open_new_file");
}
</script>

<style lang="scss" scoped>
.titlebar {
  display: flex;
  flex-direction: row;
  height: 46px;
  background-color: #2d2d2d;
  border-bottom: 1px solid #252525;

  .app-icon {
    flex: 0 0 auto;
    padding: 0 10px;
    height: 46px;
    width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;

    :deep(.material-design-icon__svg) {
      width: 1.5em !important;
      height: 1.5em !important;
    }
  }

  .open-button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 46px;
      width: 46px;
      color: #d4d9e3;
      font-size: 16px;

      transition: background-color 0.2s ease-in-out;

      &:hover {
        background-color: #44454c;
      }


  }

  .title {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d4d9e3;
    font-size: 14px;
  }

  .titlbar-actions {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;

    .titlebar-button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 46px;
      width: 46px;
      color: #d4d9e3;
      font-size: 16px;

      transition: background-color 0.2s ease-in-out;

      &:hover {
        background-color: #44454c;
      }

      &.titlebar-button-close:hover {
        background-color: #bd2b16;
      }
    }
  }
}
</style>
