<template>
  <div class="zoom-toolbar">
    <input type="range" v-model="inputValue" min="0.5" max="2" step="0.1" />
    <span class="zoom-toolbar__level">{{ zoomLevel }}</span>
  </div>
</template>

<script lang="ts" setup>
import { computed } from "vue";

const emit =
  defineEmits<
    (e: "update:modelValue", value: typeof props.modelValue) => void
  >();

const props = defineProps({
  modelValue: {
    type: String,
    required: true,
    default: "1",
  },
});

const inputValue = computed({
  get: () => props.modelValue,
  set: (value) => {
    emit("update:modelValue", value);
  },
});

const zoomLevel = computed(() => {
  return `${Math.round(Number(inputValue.value) * 100)}%`;
});

</script>

<style lang="scss" scoped>
.zoom-toolbar {
  position: fixed;
  left: calc(100vw - 190px);
  bottom: 10px;

  .zoom-toolbar__level {
    color: #eee;
    font-size: 12px;
    vertical-align: text-top;
    line-height: 15px;
    padding-left: 5px;
  }
}
</style>