<template>
  <div class="app-container">
    <titlebar class="app-container-titlebar" :title="filename" />
    <div class="app-container-content" :key="zoomlevel">
      <div
        v-if="filename"
        v-html="markdown"
        class="container"
        :style="{ transform: scaleToZoomlevel }"
      ></div>
    </div>
    <zoom-toolbar v-model="zoomlevel" />
  </div>
</template>

<script setup lang="ts">
import { listen } from "@tauri-apps/api/event";
import { computed, onMounted, ref } from "vue";
import MarkdownIt from "markdown-it";
import { tasklist } from "@mdit/plugin-tasklist";
import { invoke } from "@tauri-apps/api";
import { Payload } from "./typings";
import Titlebar from "./components/Titlebar.vue";
import ZoomToolbar from "./components/ZoomToolbar.vue";

const filename = ref();
const markdown = ref();
const zoomlevel = ref("1");

onMounted(async () => {
  const initialContent: Payload = await invoke("has_initial_content");
  if (initialContent?.content && initialContent?.filename) {
    filename.value = initialContent.filename;
    markdown.value = createMarkdownIt().render(initialContent.content);
  }

  await listen("open-file", (event) => {
    const payload: Payload | undefined = event?.payload as Payload | undefined;
    filename.value = payload?.filename;
    markdown.value =
      payload?.content && createMarkdownIt().render(payload.content);
  });
});

const createMarkdownIt = () => {
  return new MarkdownIt().use(tasklist, { disabled: false }).set({
    html: true,
    linkify: true,
    typographer: true,
  });
};

const scaleToZoomlevel = computed(() => {
  return `scale(${zoomlevel.value})`;
});
</script>

<style lang="scss" scoped>
.app-container {
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .app-container-titlebar {
    flex: 0 0 auto;
  }

  .app-container-content {
    flex: 1 1 auto;
    overflow: auto;

    .container {
      margin: 16px auto;
      max-width: calc(21cm + 64px);
      min-height: calc(100vh - 100px - 48px);
      padding: 32px;

      transform: scale(1.8);
      transform-origin: top center;
      transition: transform 0.2s ease-in-out;

      background-color: #fefefe;
      box-shadow: 5px 5px 10px rgb(0, 0, 0);
      border-radius: 8px;
    }
  }
}
</style>

<style lang="scss">
.container {

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.1em;
  }

  table {
    width: 100%;
  }

  img {
    max-width: 100%;
  }

  code {
    background-color: #f3f3f3;
    padding: 2px 4px;
    border-radius: 4px;
    font-family: "Roboto Mono", monospace;
    font-size: 0.9em;
    hyphens: auto;
    overflow-wrap: break-word;
  }
}
</style>
